.h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    line-height: 25px;
    color: black;
    font-weight: bold;
}

.p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 34.13px;
    color: black;
}

.p1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 20px;
    color: black;
}

.images-containerS2 {
    height: 80.6%; 
    right: 160px;
    background-image: "url('./02/background.svg')"; 
    background-size: cover; 
    background-repeat: no-repeat; 
}

.gradient-backgroundS3 {
    background: linear-gradient(to right, #C89181, #DBA17A);
    height: flex;
}